<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Post</title>
        <link rel="stylesheet" href="/css/new.css" />
    </head>
    <body >

        <div class="barra-nav_header  " class="algo" >
            <span class="barra-nav_logo " class="algo">
                <img src="../assets/dev.png" alt="imagen dev">
             </span>
               <div class="barra-nav_label  " class="algo">
                <span class="barra-nav_post">crear post</span>
               </div >
               <nav class="barra-nav_botones  " class="algo">
                <ul>Editar   </ul>
                <ul> Previo</ul>
               </nav>
               <div class="barra-nav_clouse-button " class="algo">
                <button type="button" title="clouse the editor" aria-label="clouse de editor" class="c-btn c-btn--icon-alone">cerrar</button>
               </div>
        </div>

        
        <form class="newPostForm" id="newPostForm">
            <label class="author"
                >author:
                <input
                    type="text"
                    name="author"
                    id="author"
                    placeholder="Dr. Hussain"
                    required
            /></label>
            <label for="avatar"
                >avatar:
                <input
                    type="url"
                    name="avatar"
                    id="avatar"
                    placeholder="url of an image"
            /></label>
            <label for="image">
                image:
                <input
                    type="url"
                    name="image"
                    id="image"
                    placeholder="url of an image"
                    value="https://static01.nyt.com/images/2022/04/04/multimedia/15ai-nocode/15ai-nocode-videoSixteenByNineJumbo1600.jpg"
                />
            </label>
            <label for="title" value="cute dogs are cute">
                title:
                <input
                    type="text"
                    name="title"
                    id="title"
                    placeholder="2024's best AI tools for dev"
                    required
                />
            </label>
            <label for="tags">
                tags:
                <input
                    type="text"
                    name="tags"
                    id="tags"
                    placeholder="#javascript, #react, #css"
                    required
                />
            </label>
            <label for="content">
                content:
                <input
                    type="text"
                    name="content"
                    id="content"
                    placeholder="lorem ipsum dolor"
                    required
                />
            </label>
            <button style="max-width: 150px">submit</button>
        </form>
        <p id="response"></p>
        <h1>Testing area</h1>
        <div id="testing"></div>
        <script src="/js/newPost.js"></script>
    </body>
</html>
